# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Enrique\OneDrive - UFV\Escritorio\3º\Primer Cuatri\Desarrollo e integración de Software\RECU\ExamenSuperheroes\ejemploSuper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
